<div class="form-group">
    <label>Nom :</label>
    <input name="nom"  type="text"  size="18" value="{{donnees.nom|default('')}}" class="form-control {% if erreurs.nom is defined %}is-invalid{% endif %}" >
    {% if erreurs.nom is defined %}
        <div class="invalid-feedback">{{erreurs.nom}}</div>
    {% endif %}
</div>

<div class="form-group">
    <label>Type :</label>
    <select name="typeProduit_id" class="form-control {% if erreurs.typeProduit_id is defined %}is-invalid{% endif %}">
        {% if  donnees.typeProduit.id is not defined or donnees.typeProduit.id is empty   %}
            <option value="">Veuillez sélectionner un produit</option>
        {% endif %}
        {% for typeProduit in typeProduits %}
            <option value="{{ typeProduit.id }}"
                    {% if donnees.typeProduit_id is defined and typeProduit.id == donnees.typeProduit_id %}selected{% endif %}>
                {{ typeProduit.libelle }}
            </option>
        {% endfor %}
    </select>
    {% if erreurs.typeProduit_id is defined %}
        <div class="invalid-feedback">{{erreurs.typeProduit_id}}</div>
    {% endif %}
</div>

<div class="form-group">
    <label>Prix :</label>
    <input name="prix"  type="text"  size="18"  value="{{donnees.prix|default('')}}" class="form-control {% if erreurs.prix is defined %}is-invalid{% endif %}">
    {% if erreurs.prix is defined %}
        <div class="invalid-feedback">{{erreurs.prix}}</div>
    {% endif %}
</div>

<div class="form-group">
    <label>Stock :</label>
    <input name="stock"  type="text"  size="18"  value="{{donnees.stock|default('')}}" class="form-control {% if erreurs.stock is defined %}is-invalid{% endif %}">
    {% if erreurs.stock is defined %}
        <div class="invalid-feedback">{{erreurs.stock}}</div>
    {% endif %}
</div>

<div class="form-group">
    <label>Photo :</label>
    <input name="photo"  type="text"  size="18" value="{{donnees.photo|default('')}}" class="form-control {% if erreurs.photo is defined %}is-invalid{% endif %}">
    {% if erreurs.photo is defined %}
        <div class="invalid-feedback">{{erreurs.photo}}</div>
    {% endif %}
</div>

<div class="form-group">
    <label>date Lancement :</label>
    <input name="dateLancement"  type="text"  size="18"
           value="{{ (dateLancement is defined) and (dateLancement is not null) ? dateLancement|date("d/m/Y") : donnees.dateLancement | default('') }}"
           class="form-control {% if erreurs.dateLancement is defined %}is-invalid{% endif %}">
    {% if erreurs.dateLancement is defined %}
        <div class="invalid-feedback">{{erreurs.dateLancement}}</div>
    {% endif %}
</div>

<div class="form-group">
    <label>Disponible :</label>
    oui<input name="disponible" value="true" type="radio"   {% if donnees.disponible is defined and  donnees.disponible != "false" %} checked   {% endif %} > &nbsp;
    non <input name="disponible"  value="false" type="radio"   {% if donnees.disponible is defined and  donnees.disponible == "false" %} checked   {% endif %} >
</div>

{% if button is defined and button == 'Modifier' %}
    <input type="hidden" name="_method" value="PUT">
    <input type="hidden" name="produit_id" value="{{ donnees.id | default('')}}">
{%  endif %}

<input type="hidden" name="token" value="{{ csrf_token('form_produit') }}">

<button type="submit" class="btn btn-primary">{{ button|default('Valider') }}</button>